# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

# --- Visual Studio Specific ---
.vs/
*.user
*.suo
*.db
*.opendb
*.vc.db
*.vsidx
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/
*.sln.v16.cache
*.sln.v17.cache
# Archivos de diseño de ventanas (el que te salía en la lista)
*.json
*.cache

# Bloqueo de base de datos (muy común)
*.db-shm
*.db-wal

# Si usas carpetas con espacios o nombres específicos
[Dd]ebug/
[Rr]elease/
Food_wars_archon/.vs/Food_wars_archon.slnx/v18/DocumentLayout.json
Food_wars_archon/.vs/Food_wars_archon.slnx/v18/.suo
Food_wars_archon/.vs/Food_wars_archon.slnx/v18/Browse.VC.db
Food_wars_archon/.vs/Food_wars_archon.slnx/v18/DocumentLayout.json
Food_wars_archon/.vs/Food_wars_archon.slnx/v18/DocumentLayout.json
Food_wars_archon/.vs/Food_wars_archon.slnx/v18/DocumentLayout.json
Food_wars_archon/.vs/Food_wars_archon.slnx/v18/DocumentLayout.json
!bin/
!bin/*.dll
